$dark: #202020;
$light: #eeeeee;
$accent: #00d0ff;




#hero-image {
  width: calc(100% - 70%);

  margin: 0 auto;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  padding-bottom: 0;

  border-radius: 40px;

  background-size: cover;
  $random-index: random(11) + 1; // generate a random number between 1 and $num-images
  background-image: url('../img/bg/' + $random-index + '.jpg'); // set the background image URL
}


.box {
  background-color: $accent;
  border-radius: 40px;
  width: 200px;
  height: 200px;
}

body {
  // Dark mode styles
  @media (prefers-color-scheme: dark) {
    background-color: $light;
    color: $dark;
  }

  // Light mode styles
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
    color: $light;
  }
}

